<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Django Project</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">
  <link rel="stylesheet" href="/static/website/css/style.css">
</head>
<body>

<!-- Use this as 'base.html' if you're using django templating -->
<!-- Otherwise abstain from django templating and use Angular -->

<!-- Feel free to obliteraate this demo-container -->
<div class="demo-container">
  <div class="card">
    <div class="card-title">
      Django Project
    </div>
    <div class="card-body">
      <p class="card-paragraph">
        Congratulations, your website is up and running!
        Feel free to install <a href="http://getbootstrap.com/">Bootstrap</a>,
        <a href="http://foundation.zurb.com/">Foundation</a>, or
        <a href="http://getskeleton.com/">Skeleton</a> to start designing your site.
        To create an interactive single page application, check out
        <a href="https://angularjs.org/">AngularJS</a>.
      </p>
      <p class="card-paragraph">
        Your project comes packaged with many goodies including
        <a href="http://www.centos.org/">CentOS</a>,
        <a href="http://www.postgresql.org/">PostgreSQL</a>,
        <a href="http://memcached.org/">memcached</a>,
        <a href="http://grappelliproject.com/">grappelli</a>,
        <a href="https://django-braces.readthedocs.org/en/latest/">braces</a>,
        <a href="http://django-extensions.readthedocs.org/en/latest/">django-extensions</a>.
      </p>
    </div>
  </div>
</div>
<!-- End -->


</body>
</html>
